BR2_arm=y
BR2_cortex_a5=y
BR2_JLEVEL=13
BR2_CCACHE=y
BR2_OPTIMIZE_3=y
BR2_GCC_VERSION_4_6_X=y
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-float=hard --with-fpu=vfpv4-d16"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mcpu=cortex-a5 -mfpu=vfpv4-d16 -mfloat-abi=hard"
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_VFP_FLOAT=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_UDEV=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_BONNIE=y
BR2_PACKAGE_LMBENCH=y
BR2_PACKAGE_NETPERF=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_PIXMAN=y
BR2_PACKAGE_LIBFFI=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_MII_DIAG=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="git://rfolxts01.rfo.atmel.com/linux"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="sama5d3_M2"
BR2_LINUX_KERNEL_DEFCONFIG="sama5d3db"
BR2_LINUX_KERNEL_ZIMAGE=y
